In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Student.Data.csv")

In [3]:
data

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

In [4]:
data.shape

(480, 17)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    480 non-null    object
 1   NationalITy               480 non-null    object
 2   PlaceofBirth              480 non-null    object
 3   StageID                   480 non-null    object
 4   GradeID                   480 non-null    object
 5   SectionID                 480 non-null    object
 6   Topic                     480 non-null    object
 7   Semester                  480 non-null    object
 8   Relation                  480 non-null    object
 9   raisedhands               480 non-null    int64
 10  VisITedResources          480 non-null    int64
 11  AnnouncementsView         480 non-null    int64
 12  Discussion                480 non-null    int64
 13  ParentAnsweringSurvey     480 non-null    object
 14  ParentschoolSatisfaction  480 non-null    object
 15  StudentAbsenceDays        480 non-null    object
 16  Class                     480 non-null    object
dtypes: int64(4), object(13)
memory usage: 63.9+ KB

In [6]:
data.value_counts()

gender  NationalITy  PlaceofBirth  StageID       GradeID  SectionID  Topic    Semester  Relation  raisedhands  VisITedResources  AnnouncementsView  Discussion  ParentAnsweringSurvey  ParentschoolSatisfaction  StudentAbsenceDays  Class
M       Jordan       Jordan        lowerlevel    G-02     A          French   S         Father    30           10                20                 5           No                     Bad                       Above-7             L        2
                                                                              F         Father    10           15                10                 21          No                     Bad                       Above-7             L        2
        KW           KuwaIT        MiddleSchool  G-07     A          Math     F         Father    11           2                 2                  8           No                     Bad                       Under-7             L        1
                                                          B          IT       F         Father    19           19                25                 40          Yes                    Bad                       Under-7             M        1
                                                                                                  12           0                 6                  13          No                     Bad                       Under-7             L        1
                                                                                                                                                                                                                                             ..
F       SaudiArabia  SaudiArabia   lowerlevel    G-02     B          French   S         Father    60           70                63                 93          Yes                    Bad                       Under-7             H        1
                                   MiddleSchool  G-08     B          Arabic   S         Mum       72           51                42                 24          Yes                    Bad                       Above-7             H        1
                                                 G-07     B          Science  F         Father    50           90                37                 70          Yes                    Good                      Under-7             M        1
        Palestine    Palestine     lowerlevel    G-04     A          Science  S         Mum       62           64                72                 84          Yes                    Good                      Under-7             H        1
M       venzuela     venzuela      HighSchool    G-10     A          IT       F         Mum       80           90                70                 80          Yes                    Good                      Under-7             H        1
Name: count, Length: 478, dtype: int64

In [7]:
data.isna().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [8]:
data.gender.unique()

array(['M', 'F'], dtype=object)

In [9]:
data.gender.isna().sum()

np.int64(0)

In [10]:
data.NationalITy.unique()

array(['KW', 'lebanon', 'Egypt', 'SaudiArabia', 'USA', 'Jordan',
       'venzuela', 'Iran', 'Tunis', 'Morocco', 'Syria', 'Palestine',
       'Iraq', 'Lybia'], dtype=object)

In [11]:
data.NationalITy.value_counts()

NationalITy
KW             179
Jordan         172
Palestine       28
Iraq            22
lebanon         17
Tunis           12
SaudiArabia     11
Egypt            9
Syria            7
USA              6
Iran             6
Lybia            6
Morocco          4
venzuela         1
Name: count, dtype: int64

In [12]:
data.NationalITy.isna().sum()

np.int64(0)

In [13]:
data.PlaceofBirth.unique()

array(['KuwaIT', 'lebanon', 'Egypt', 'SaudiArabia', 'USA', 'Jordan',
       'venzuela', 'Iran', 'Tunis', 'Morocco', 'Syria', 'Iraq',
       'Palestine', 'Lybia'], dtype=object)

In [14]:
data.PlaceofBirth.value_counts()

PlaceofBirth
KuwaIT         180
Jordan         176
Iraq            22
lebanon         19
SaudiArabia     16
USA             16
Palestine       10
Egypt            9
Tunis            9
Iran             6
Syria            6
Lybia            6
Morocco          4
venzuela         1
Name: count, dtype: int64

In [15]:
data.isna().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [16]:
data

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

In [17]:
data.isnull().mean()*100

gender                      0.0
NationalITy                 0.0
PlaceofBirth                0.0
StageID                     0.0
GradeID                     0.0
SectionID                   0.0
Topic                       0.0
Semester                    0.0
Relation                    0.0
raisedhands                 0.0
VisITedResources            0.0
AnnouncementsView           0.0
Discussion                  0.0
ParentAnsweringSurvey       0.0
ParentschoolSatisfaction    0.0
StudentAbsenceDays          0.0
Class                       0.0
dtype: float64

In [18]:
#X = data.drop(columns=['Class'], inplace  = True)

In [19]:
data

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

In [20]:
data['dropout']= data['Class']
data  = data.drop('Class', axis = 1)

In [21]:
data['dropout']= data['dropout'].apply(lambda x:1  if x == "L" else 0)

In [22]:
data

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,dropout
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,0
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,0
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,1
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,1
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,1
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,0
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,0
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,1
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,1

In [23]:
categorical_columns = ["gender",	"NationalITy",	"PlaceofBirth",	"StageID"	,"GradeID",	"SectionID",	"Topic", "Semester", "Relation",
                       "raisedhands",	"VisITedResources", "AnnouncementsView",
                       "Discussion",	"ParentAnsweringSurvey",	"ParentschoolSatisfaction",	"StudentAbsenceDays","dropout"]

In [24]:
for col_name_in_list in categorical_columns :
  actual_col = col_name_in_list
  if actual_col not in data.columns:
    if actual_col.lower() in data.columns:
      actual_col = actual_col.lower()
    else:
      print(f"Column '{col_name_in_list}' not found in DataFrame. Skipping factroization")
      continue


  data[actual_col] = pd.factorize(data[actual_col])[0]

In [25]:
data.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,dropout
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,1,1,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,2,2,2,2,1,1,1,1
3,0,0,0,0,0,0,0,0,0,3,3,3,3,1,1,1,1
4,0,0,0,0,0,0,0,0,0,4,4,4,4,1,1,1,0

In [26]:
X = data.drop('dropout', axis=1)  # Independent features
y = data['dropout']

In [27]:
data['StudentAbsenceDays'] = pd.factorize(data['StudentAbsenceDays'])[0]

In [28]:
correlation = data.corr()
print(correlation['dropout'].sort_values(ascending=False))

dropout                     1.000000
StudentAbsenceDays          0.631674
ParentAnsweringSurvey       0.413547
ParentschoolSatisfaction    0.331473
GradeID                     0.097814
SectionID                   0.030414
StageID                    -0.102424
Semester                   -0.115048
Discussion                 -0.121663
PlaceofBirth               -0.152167
Topic                      -0.161538
NationalITy                -0.168315
gender                     -0.218841
Relation                   -0.279615
VisITedResources           -0.288698
raisedhands                -0.303943
AnnouncementsView          -0.334898
Name: dropout, dtype: float64

In [29]:
for col in categorical_columns:
    if col in data.columns:
        print(f"\nFeature: {col}")
        prob_table = data.groupby(col)['dropout'].mean().sort_values(ascending=False)
        print(prob_table)

Feature: gender
gender
0    0.337705
1    0.137143
Name: dropout, dtype: float64

Feature: NationalITy
NationalITy
13    1.000000
0     0.379888
2     0.333333
7     0.333333
8     0.333333
10    0.285714
9     0.250000
5     0.215116
4     0.166667
1     0.117647
3     0.090909
6     0.000000
11    0.000000
12    0.000000
Name: dropout, dtype: float64

Feature: PlaceofBirth
PlaceofBirth
13    1.000000
0     0.383333
2     0.333333
7     0.333333
8     0.333333
3     0.250000
9     0.250000
5     0.193182
10    0.166667
4     0.125000
1     0.105263
6     0.000000
11    0.000000
12    0.000000
Name: dropout, dtype: float64

Feature: StageID
StageID
0    0.326633
2    0.242424
1    0.217742
Name: dropout, dtype: float64

Feature: GradeID
GradeID
4    1.000000
6    0.363636
9    0.340136
1    0.277228
8    0.250000
0    0.229167
2    0.215517
5    0.200000
7    0.153846
3    0.062500
Name: dropout, dtype: float64

Feature: SectionID
SectionID
1    0.287425
2    0.266667
0    0.250883
Name: dropout, dtype: float64

Feature: Topic
Topic
0     0.400000
1     0.333333
10    0.333333
6     0.320000
2     0.288136
5     0.272727
7     0.246154
4     0.222222
3     0.196078
8     0.157895
9     0.133333
11    0.000000
Name: dropout, dtype: float64

Feature: Semester
Semester
0    0.314286
1    0.212766
Name: dropout, dtype: float64

Feature: Relation
Relation
0    0.367491
1    0.116751
Name: dropout, dtype: float64

Feature: raisedhands
raisedhands
41    1.0
63    1.0
22    1.0
19    1.0
11    1.0
     ...
23    0.0
55    0.0
56    0.0
57    0.0
81    0.0
Name: dropout, Length: 82, dtype: float64

Feature: VisITedResources
VisITedResources
26    1.0
3     1.0
81    1.0
19    1.0
80    1.0
     ...
57    0.0
58    0.0
59    0.0
60    0.0
88    0.0
Name: dropout, Length: 89, dtype: float64

Feature: AnnouncementsView
AnnouncementsView
23    1.000000
24    1.000000
29    1.000000
31    0.857143
3     0.833333
        ...
51    0.000000
53    0.000000
55    0.000000
56    0.000000
87    0.000000
Name: dropout, Length: 88, dtype: float64

Feature: Discussion
Discussion
89    1.0
59    1.0
28    1.0
88    1.0
21    1.0
     ...
63    0.0
64    0.0
65    0.0
66    0.0
24    0.0
Name: dropout, Length: 90, dtype: float64

Feature: ParentAnsweringSurvey
ParentAnsweringSurvey
1    0.471429
0    0.103704
Name: dropout, dtype: float64

Feature: ParentschoolSatisfaction
ParentschoolSatisfaction
1    0.446809
0    0.147260
Name: dropout, dtype: float64

Feature: StudentAbsenceDays
StudentAbsenceDays
1    0.607330
0    0.038062
Name: dropout, dtype: float64

Feature: dropout
dropout
1    1.0
0    0.0
Name: dropout, dtype: float64

In [30]:
# Example simple rule-based prediction
data['predicted_dropout'] = 0  # Default 0
# Rule: agar StudentAbsenceDays zyada hai ya parents satisfaction low hai
data.loc[(data['StudentAbsenceDays'] > 0) | (data['ParentschoolSatisfaction'] == 0), 'predicted_dropout'] = 1

In [31]:
# Accuracy check
accuracy = (data['predicted_dropout'] == data['dropout']).mean()
print("Simple rule accuracy:", accuracy)

Simple rule accuracy: 0.4083333333333333

In [32]:
# Risk score initialize
data['risk_score'] = 0

In [33]:
# For each categorical feature, add its contribution
categorical_columns = ['gender','NationalITy','PlaceofBirth','StageID','GradeID','SectionID',
                       'Topic','Semester','Relation','ParentAnsweringSurvey','ParentschoolSatisfaction']

In [47]:
for col in categorical_columns:
    data[col] = pd.factorize(data[col])[0]

# Tuned weights (try to improve accuracy)
weights = {
    'StudentAbsenceDays': 2.0,      # Absences matter a lot
    'ParentschoolSatisfaction': 1.8,
    'StageID': 0.5,
    'GradeID': 0.5,
    'Topic': 0.3,
    'Semester': 0.2,
    'Relation': 0.2
}
data['risk_score'] = 0
for col, w in weights.items():
    data['risk_score'] += data[col] / data[col].max() * w

# Adjusted thresholds
data['risk_label'] = pd.cut(data['risk_score'],
                          bins=[-0.1, 1.2, 2.5, data['risk_score'].max()],
                          labels=['Low', 'Medium', 'High'])

# Predicted dropout
data['predicted_dropout'] = data['risk_score'].apply(lambda x: 1 if x > 2.0 else 0)

# Accuracy
accuracy = (data['predicted_dropout'] == data['dropout']).mean() * 100
print("Tuned weighted rule accuracy:", round(accuracy, 2), "%")

# Top 20 high-risk students
top_high_risk = data[data['risk_label'] == 'High'].sort_values('risk_score', ascending=False).head(20)
print("\nTop 20 high-risk students:")
print(top_high_risk[['risk_score','risk_label','predicted_dropout']])

# Save predictions
data.to_csv('student_risk_predictions_tuned.csv', index=False)
print("\nPredictions saved as 'student_risk_predictions_tuned.csv'")

Tuned weighted rule accuracy: 67.92 %

Top 20 high-risk students:
     risk_score risk_label  predicted_dropout
153    5.052525       High                  1
154    4.997980       High                  1
54     4.942424       High                  1
163    4.890909       High                  1
78     4.825253       High                  1
377    4.754545       High                  1
407    4.751010       High                  1
64     4.744444       High                  1
65     4.742424       High                  1
66     4.742424       High                  1
50     4.742424       High                  1
216    4.724747       High                  1
230    4.724747       High                  1
327    4.690909       High                  1
323    4.690909       High                  1
174    4.690909       High                  1
175    4.690909       High                  1
181    4.690909       High                  1
469    4.633838       High                  1
475    4.633838       High                  1

Predictions saved as 'student_risk_predictions_tuned.csv'